
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:black;">

  
  <a class="navbar-brand" href="/"><h3 style="color:white;">BLOG</h3>
      <span class="sr-only" style= color:black;>(current)</span>
  </a>

  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">

      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link text-dark" href="/"><h6 style="color: white;">Home</h6> <span
                      class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-dark" href="{{ url_for('main.about') }}"><h6 style="color: white;">About</h6> </a>
          </li>
      </ul>

      <ul class="navbar-nav ml-auto">

          <li>
            <a class="nav-link text-dark pr-4" aria-haspopup="true" aria-expanded="false" href="{{url_for('main.profile',uname=current_user.username)}}"><h6 style="color: white;">Profile</h6></a>
          </li>
          <li>
            <a class="nav-link text-dark pr-4" aria-haspopup="true" aria-expanded="false" href = "{{url_for('main.allBlogs')}}"><h6 style="color: white;">All blogs</h6></a>
          </li>
          <li>
            <a class="nav-link text-dark pr-5" aria-haspopup="true" aria-expanded="false" href = "{{url_for('main.new_blog')}}"><h6 style="color: white;">New blog</h6></a>
          </li>
      </ul>

    <ul class="navbar-nav ml-auto">
      {% if current_user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" href = "/">{{current_user.username}}</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{url_for('auth.logout')}}"><h6 style="color: black;">Logout</h6></a>
          {% else %}
          <a class="dropdown-item text-dark" href="{{url_for('auth.login')}}"><h6 style="color: black;">Login</h6></a>
          {%endif%}
        </div>
      </li>
    </ul>
  </div>

</nav>
